<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>
<div th:insert="fragments/header :: menu"></div>

<p th:text="${person.getName()} + ', ' + ${person.getYearOfBirth()}">value</p>

<hr/>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>
<div th:if="${!books.isEmpty()}">
    <p><strong>Книги: </strong></p>
    <div th:each="book : ${books}">
        <div th:style="${book.isOverdue()} ? 'color: red'" th:text="${book.getTitle()} + ', ' + ${book.getYear()}"></div>
        <br/>
    </div>
</div>

<hr/>

<form th:method="GET" th:action="@{/persons/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<br/>
<form th:method="DELETE" th:action="@{/persons/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>